{% extends 'store/base.html' %}


	{% block content %}
		{% include 'store/header.html' %}
		{% include 'store/navigation.html' %}


		<div class="cart">
			<div class="cart-list">
				{% for cart_item in cart_items %}
				<div class="product-widget">
					<div class="product-img">
						{% if cart_item.product.images.exists %}
						<img src="{{ cart_item.product.images.first.image.url }}" alt="{{ cart_item.product.name }}">
						{% endif %}
					</div>
					<div class="product-body">
						<h3 class="product-name"><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a></h3>

						<h4 class="product-price">
							<span class="qty">{{ cart_item.quantity }}x</span>
							{% if cart_item.product.discount %}
							&#8358;{{ cart_item.product.discount_price }}
							{% else %}
							&#8358;{{ cart_item.product.price }}
							{% endif %}
						</h4>
					</div>
					<button class="delete" onclick="removeFromCart({{ cart_item.id }})"><i class="fa fa-close"></i></button>				</div>
				{% endfor %}
			</div>
			<div class="cart-summary">
				<small>{{ cart_items_count }} Item(s) selected</small>
				<h5>SUBTOTAL: &#8358;{{ total_price }}</h5>
			</div>
			<div class="cart-btns">
				<a href="{% url 'cart' %}">View Cart</a>
				<a href="/">Checkout <i class="fa fa-arrow-circle-right"></i></a>
				{% comment %} <a href="{% url 'checkout' %}">Checkout <i class="fa fa-arrow-circle-right"></i></a> {% endcomment %}
			</div>
		</div>
		

		{% include 'store/footer.html' %}
	
	{% endblock content %}

		

		

		