{% load static %}
{% load humanize %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div id="newproduct" class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>

                            <label>
                                Show:
                                <select class="input-select" onchange="location = this.value;">
                                    <option value="{% url 'product_list' %}?show=10" {% if show_option == '10' %} selected {% endif %}>10</option>
                                    <option value="{% url 'product_list' %}?show=20" {% if show_option == '20' %} selected {% endif %}>20</option>
                                    <option value="{% url 'product_list' %}?show=30" {% if show_option == '30' %} selected {% endif %}>30</option>
                                    <option value="{% url 'product_list' %}?show=40" {% if show_option == '40' %} selected {% endif %}>40</option>
                                    <option value="{% url 'product_list' %}?show=50" {% if show_option == '50' %} selected {% endif %}>50</option>
                                </select>
                            </label>                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- STORE -->
            <div id="store" class="col-md-12">
                <!-- store top filter -->
                <div class="store-filter clearfix">

                    <!-- <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul> -->
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    {% for product in products %}
                    <!-- product -->
                    <div class="col-lg-3 col-md-3 col-sm-3 mx-0 px-2 py-3">
                        <div class="product mx-5 mx-lg-0">
                            <!-- Product image -->
                            {% if product.images.exists %}
                            <div class="product-img">
                                <img src="{{ product.images.first.image.url }}" alt="">
                                <div class="product-label">
                                    <span class="sale">-{{ product.discount_value }}%</span>
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            {% endif %}

                            <!-- Product details -->
                            <div class="product-body">
                                {% for category in product.categories.all %}
                                <p class="product-category my-0 py-1">{{ category.name }}</p>
                                {% endfor %}
                                <h3 class="product-name py-1 my-0"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>

                                {% if product.discount %}
                                <h4 class="product-price py-1 my-0">&#8358;{{ product.discount_price|intcomma }}</h4>
                                <h4><del class="product-old-price py-1 my-0">&#8358;{{ product.price|intcomma }}</del></h4>
                                {% else %}
                                <h4 class="product-price py-1 my-0">&#8358;{{ product.price|intcomma }}</h4>
                                <h4><del class="product-old-price py-1">&#8358;{{ product.discount_price|intcomma }}</del></h4>
                                {% endif %}

                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>

                                <div class="product-btns  m-5">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        {% comment %} <div class="form-group mx-3">
                                            <input name="quantity" value="1" type="number" min="1" class="form-control">
                                        </div> {% endcomment %}
                                        <button type="submit" class="add-to-cart bg-white mt-5 p-3 border-0">
                                            <i class="fa fa-shopping-cart"></i> Add to cart
                                        </button>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>                        
                    <!-- /product -->
                    {% endfor %}


                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    {% comment %} <span class="store-qty">Showing {{ products_start }}-{{ products_end }} of {{ total_products }} products</span> {% endcomment %}
                    <ul class="store-pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}

                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /store bottom filter -->

            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
