<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    {% comment %} {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="message">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %} {% endcomment %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="input" type="email" name="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn" type="submit"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100063627535281&mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
                        </li> 
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->