<!-- SEARCH BAR -->
<div class="col-md-6">
    <div class="header-search">
        <form method="GET" action="{% url 'product_list' %}">
            <select class="input-select" name="category">
                <option value="0">Categories</option>
                {% for category in product.categories.all %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input class="input" type="text" name="search" placeholder="Search here" value="{{ search_query }}">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
</div>
<!-- /SEARCH BAR -->