{% load static %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img width="250" height="200" src="{% static 'img/shop02.png' %}" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Repair<br>Packages</h3>
                        <a href="#newproduct" class="cta-btn">Reach us <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img width="250" height="200" src="{% static 'img/shop01.png' %}" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Repair<br>Guide</h3>
                        <a href="#newproduct" class="cta-btn">Reach us <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img width="250" height="200" src="{% static 'img/shop03.png' %}" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Accessories<br>Collection</h3>
                        <a href="#newproduct" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->