{% load static %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-3" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-3">
                    {% for product in top_selling %}
                    <div>
                        <!-- product widget -->
                        <div class="product-widget">
                            {% if product.images.exists %}
                            <div class="product-img">
                                <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                            </div>
                            {% endif %}
                            <div class="product-body">
                                <p class="product-category">{{ product.categories.first.name }}</p>
                                <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <h4 class="product-price">${{ product.discount_price|default:product.price }} <del class="product-old-price">${{ product.price }}</del></h4>
                            </div>
                        </div>
                        <!-- /product widget -->
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Hot Deals</h4>
                    <div class="section-nav">
                        <div id="slick-nav-4" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-4">
                    {% for product in hot_deals %}
                    <div>
                        <!-- product widget -->
                        <div class="product-widget">
                            {% if product.images.exists %}
                            <div class="product-img">
                                <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                            </div>
                            {% endif %}
                            <div class="product-body">
                                <p class="product-category">{{ product.categories.first.name }}</p>
                                <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <h4 class="product-price">${{ product.discount_price|default:product.price }} <del class="product-old-price">${{ product.price }}</del></h4>
                            </div>
                        </div>
                        <!-- /product widget -->
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="clearfix visible-sm visible-xs"></div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Recent Products</h4>
                    <div class="section-nav">
                        <div id="slick-nav-5" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-5">
                    {% for product in recent_products %}
                    <div>
                        <!-- product widget -->
                        <div class="product-widget">
                            {% if product.images.exists %}
                            <div class="product-img">
                                <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                            </div>
                            {% endif %}
                            <div class="product-body">
                                <p class="product-category">{{ product.categories.first.name }}</p>
                                <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <h4 class="product-price">${{ product.discount_price|default:product.price }} <del class="product-old-price">${{ product.price }}</del></h4>
                            </div>
                        </div>
                        <!-- /product widget -->
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
