{% extends 'store/base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
  {% include 'store/top-header.html' %}

  <div class="signup-section">
    <div class="signup-form">
      <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username:</label>
          {{ form.username }}
          {% if form.errors.username %}
            <p class="error">{{ form.errors.username }}</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_email">Email:</label>
          {{ form.email }}
          {% if form.errors.email %}
            <p class="error">{{ form.errors.email }}</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_password1">Password:</label>
          {{ form.password1 }}
          {% if form.errors.password1 %}
            <p class="error">{{ form.errors.password1 }}</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_password2">Confirm Password:</label>
          {{ form.password2 }}
          {% if form.errors.password2 %}
            <p class="error">{{ form.errors.password2 }}</p>
          {% endif %}
        </div>
        <button type="submit" class="signup-btn">Sign Up</button>
      </form>
    </div>
  </div>

  {% include 'store/footer.html' %}
{% endblock content %}
